p {
    color: white;
}

li {
    color: white;
}

.ct-series-a .ct-line {
    stroke-width: 1px !important;
    stroke-dasharray: 10px 20px;
}

.ct-series-b .ct-line {
    stroke-width: 1px !important;
    stroke-dasharray: 10px 20px;
}

.ct-series-c .ct-line {
    stroke-width: 1px !important;
    stroke-dasharray: 10px 20px;
}

.ct-series-d .ct-line {
    stroke-width: 1px !important;
    stroke-dasharray: 10px 20px;
}

.ct-grid {
    stroke: white;
}
