/* You can add global styles to this file, and also import other style files */
@import "./../node_modules/chartist/dist/chartist.css";
@import "./../node_modules/chartist/dist/chartist-legend.css";

body {
    /* background-color: #3e04aa; */
    background-color: #330d7a;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    border: 0;
    box-shadow: none;
    border-radius: 0px;
}

.window-size {
    width: 97vw;
    height: 93vh;
    box-sizing: border-box;
}
