<div class="container window-size" style="text-align:center">
    <div id="landing-title">
        foceye
        <!-- muse.charts -->
    </div>

    <div id="start-btn-holder">
        <button id="start" routerLink="/start">start</button>
    </div>
    <!-- <div id="start-btn-holder">
        <button id="dev" routerLink="/dev">dev</button>
    </div> -->
</div>
