.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-around;
}

#landing-title {
    font-size: 12vmin;
    font-weight: bold;
    color: white;
}

#start-btn-holder {
    margin-top: 6vmin;
}
#start {
    background-color: #c1afe2;
    color: white;
    font-size: 3vmin;
    padding: 3vmin 5vmin;

    border-radius: 1vmin;
}
#start:hover {
    background-color: #b9a2e2;
}
#start:active {
    background-color: #a480e2;
    color: #c1afe2;
    /* outline: 1vmin solid #c1afe2;
    outline-offset: -1vmin; */
}

#dev {
    background-color: #c1afe2;
    color: white;
    font-size: 3vmin;
    padding: 3vmin 5vmin;

    border-radius: 1vmin;
}
#dev:hover {
    background-color: #b9a2e2;
}
#dev:active {
    background-color: #a480e2;
    color: #c1afe2;
    /* outline: 1vmin solid #c1afe2;
    outline-offset: -1vmin; */
}
